* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, p, ul, li, form, input, textarea, button {
    list-style: none;
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #FFF9F0;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    padding: 80px 0;
    background: url('/images/header2.jpg') no-repeat center center;
    background-size: cover;
}

header h1 {
    margin-bottom: 50px;
    font-size: 3em;
    color: #FF6F61;
}

nav ul {
    padding: 10px;
    background-color: #FFD3B4;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #5F4B8B;
    padding: 10px 20px;
    font-size: 25px;
    transition: background-color 0.5s ease;
    background-color: #FFD3B4;
    border-radius: 30px; /* Rounded corners */
}

nav ul li a:hover {
    background-color: #FFB482;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-list {
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-item {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    width: calc(25% - 40px);
    text-align: center;
    margin-right: 40px;
}

.product-item img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product-info {
    padding: 10px;
}

.product-info h3 {
    color: #333;
}

.price {
    font-weight: bold;
    color: #e44d26;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #FFD3B4;
    color: #5F4B8B;
}

@media (max-width: 768px) {
    .product-item {
        width: calc(100% - 40px);
    }

    .product-item img {
        width: 50vw;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}